<%= link_to 'Back to Dashboard', admin_dashboard_path, class: 'btn' %>

<div class="report-buttons">
  <button id="active-customer" class="btn">Most Active Customers</button>
  <button id="expensive-orders" class="btn">Most Expensive Orders</button>
  <button id="most-sold" class="btn">Most Sold Items</button>
  <button id="top-selling-items" class="btn">Top Revenue Items</button>
  <button id="top-selling-stores" class="btn">Top Revenue Stores</button>
</div>

<table class="table">
  <tr>
    <th class="left-table-head"></th>
    <th class="right-table-head"></th>
  </tr>
  <tr>
    <td class="first-left-td"></td>
    <td class="first-right-td"></td>
  </tr>
  <tr>
    <td class="second-left-td"></td>
    <td class="second-right-td"></td>
  </tr>
  <tr>
    <td class="third-left-td"></td>
    <td class="third-right-td"></td>
  </tr>
  <tr>
    <td class="fourth-left-td"></td>
    <td class="fourth-right-td"></td>
  </tr>
  <tr>
    <td class="fifth-left-td"></td>
    <td class="fifth-right-td"></td>
  </tr>
</table>
