<div class="category-show-title-div">
  <h3 class="category-show-title center-text">Current Inventory</h3>
</div>
<div>
	<div class="row items-row">
		<% @items.each do |item| %>
		<div class="col-md-3 item-card">
			<div class="item_card index_item_<%= item.id %>">
				<img class="item-card-img" src="<%= image_tag item.image.url(:medium) %>" alt="">
				<h3><%= link_to item.title, item_path(item) %></h3>
				<% if item.active? %>
				<%= link_to "Add to Cart", cart_path(item_id: item.id), method: :post, class: "cart-button btn btn-outline-info" %>
				<% else %>
				<button type="button" class="cart-button-retired btn btn-danger">Item Retired</button>
				<% end %>
				<br><br>
				<div class="items-break-line"></div>
			</div>
		</div>
		<% end %>
	</div>
</div>
