/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
/* Footer Below */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; font-family: 'Open Sans', sans-serif; position:relative; padding-bottom: 20px;
   left:0px;
   bottom:0px;
   width:100%;}
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}
.footerright {
  text-align: center;
}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }

 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}


 .copyright { position:absolute; width:100%; bottom:0px; position: fixed; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
body {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
  min-height: 60px;
}
.navbar-brand {
  font-size: 40px;
  letter-spacing: -3px;
}
body > header > nav > div > div.navbar-header > a > img {
  margin-top: -10px;
}
.item-card-img {
  width: 250px;
  height: 250px;
  margin-left: 20px;
  border-radius: 5px;
}
.item-card {
  padding: 10px;
}
.items-row {
  margin: 10px;
  padding-bottom: 30%;
}
.items-break-line {
  background-color: black;
  height: 2px;
  margin-right: 5%;
}
.center-text {
  text-align: center;
}
.h-tag-no-top-margin-title {
  margin-top: 0px;
}
.item-show-image {
  width: 95%;
}
.cart-button {
  border: 1px solid black;
  margin-bottom: 10px;
}
.cart-button-retired {
  border: 1px solid red;
}
.item-cart-thumb {
  height: 50px;
  width: 50px;
}
.carousel-image {
  width: 100%;
}
.graph-title {
  margin-left: 10px;
}
.dashboard-wrapper {
  margin-left: 20px;
  margin-right: 30px;
}
.category-show-title-div {
  background-color: lightgray;
}
.category-show-title {
  margin-top: 0px;
  padding-top: 3px;
  padding-left: 20px;
  padding-bottom: 3px;
  color: grey;
}
.category-show-body {
  margin-left: 10px;
  margin-right: 10px;
}
.item-show-button{
  margin-left: 5px;
}
body > div > div.metrics-wrapper > div {
  margin-top: -50px;
}
.dashboard-wrapper > h1 {
  margin-left: 5px;
}
.admin-item-thumb {
  width: 100px;
  height: 100px;
}
.intro {
  text-align: center;
}

.cart-total-col {
  padding-top: 20px;
}

.form-item {
  width: 100%;
}

.form-label {
  font-weight: bold;
  margin-top: 5px;
}

.profile {
  padding-top: 8%;
  padding-bottom: 10%;
}

.green-flash {
  border-style: none;
  background-color: lightgreen;
  text-align: center;
}
