/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-brand {
  font-size: 40px;
  letter-spacing: -3px;
}
.item-card-img {
  width: 95%;
  border-radius: 5px;
}
.item-card {
  padding: 10px;
}
.items-row {
  margin: 10px;
}
.items-break-line {
  background-color: black;
  height: 2px;
  margin-right: 5%;
}
.center-text {
  text-align: center;
}
.h-tag-no-top-margin-title {
  margin-top: 0px;
}
.item-show-image {
  width: 95%;
}
.cart-button {
  border: 1px solid black;
  margin-bottom: 10px;
}
.cart-button-retired {
  border: 1px solid red;
}
.item-cart-thumb {
  height: 50px;
  width: 50px;
}
.carousel-image {
  width: 100%;
}
.graph-title {
  margin-left: 10px;
}
.dashboard-wrapper {
  margin-left: 20px;
  margin-right: 30px;
}
.category-show-title-div {
  background-color: lightgray;
}
.category-show-title {
  margin-top: 0px;
  padding-top: 3px;
  padding-left: 20px;
  padding-bottom: 3px;
  color: grey;
}
.category-show-body {
  margin-left: 10px;
  margin-right: 10px;
}
.item-show-button{
  margin-left: 5px;
}
body > div > div.metrics-wrapper > div {
  margin-top: -50px;
}
.dashboard-wrapper > h1 {
  margin-left: 5px;
}
