<div class="dashboard-wrapper">
    <h1>Admin Dashboard</h1>
    <div class="metrics-wrapper">
        <h3>Metrics</h3>
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="graph-title"># of Orders by Month</h4>
                    <%= line_chart Order.orders_by_month %>
                </div>
                <div class="col-md-4">
                    <h4 class="graph-title"># of Orders by Day</h4>
                    <%= column_chart Order.orders_by_day_of_week %>
                </div>
                <div class="col-md-4">
                    <h4 class="graph-title"># of Items by Category</h4>
                    <%= pie_chart Category.items_in_category %>
                </div>
            </div>
        </div>
    </div>
    <div class="control-panel-wrapper">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <%= link_to "Add New Item", new_admin_item_path, type: "button", class: "btn btn-success btn-large btn-block" %>
            </div>
            <div class="col-xs-6 col-md-4">
            </div>
            <div class="col-xs-6 col-md-4">
            </div>
        </div>
    </div>
</div>